<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812991072082-0dds894ksutb3pjnc7idb5meof54ng4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812991072082-0dds894ksutb3pjnc7idb5meof54ng4i</string>
	<key>API_KEY</key>
	<string>AIzaSyDVQZj9Q4AfivDRspg5hreWYT-tE3Y7hXg</string>
	<key>GCM_SENDER_ID</key>
	<string>812991072082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-afc90</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-afc90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812991072082:ios:fa0986651d9cef5ed25c8b</string>
</dict>
</plist>